* {
    -webkit-user-select: none;  /* Disable selection/copy of elements when tapping for a long time */
    -webkit-touch-callout: none; /* Disable touch callouts */
}

input {
    -webkit-user-select: text;  /* Allow selection for input elements */
}

.content-padded {
    /*padding: 10px;*/
}

#green {
    background-color:green;
}
#red {
    background-color:red;
}
#yellow {
    background-color:yellow;
}
#blue {
    background-color:blue;
}

.button {
    color:#fff;
    opacity: 0.65;
}

.button.active {
    opacity: 1;
}


html, body, 
.sequence-container, 
.content-padded {
    height:100%;
    width:100%;
}

.sequence-container > div {
    height:50%;
    width:50%;
    -webkit-box-sizing: border-box;
    float:left;
    overflow: hidden;
    border: 1px solid #9DA2A4;    
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.sequence-container > div.active {
    color:#00AEEF;
    background-color: #CCF1FF;
}

.hider {
    display: none;
}


/* The modal when the game is lost */
div.lostModal {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

div.lostModal .wrapper {
    opacity: 0.3;
    background: #000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

div.lostModal .youLost {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    text-align: center;
}

div.lostModal .youLost #replayBtn {
    text-decoration: none;
    padding: 20px;
    background: #000;
    color: #bbb;
    font-weight: 700;
    font-size: 34px;
    border-radius: 20px;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
}

div.lostModal .youLost #replayBtn:active {
    background: #444;
    color: #bbb;
}