<script src="/javascripts/mcp_class.js"></script>
<script>
  SwfController.game();
</script>

<div class="content-padded">
    <div class="sequence-container">
        <div class="button" id="green" data-sound="green.wav" data-id="1">1</div>
        <div class="button" id="red" data-sound="red.wav" data-id="2">2</div>
        <div class="button" id="yellow" data-sound="yellow.wav" data-id="3">3</div>
        <div class="button" id="blue" data-sound="blue.wav" data-id="4">4</div>
    </div>
</div>

<div class="lostModal hider">

    <div class="wrapper"></div>

    <div class="youLost">
        <a href="javascript:;" class="btn btn-inverse" id="replayBtn">Replay</a>
    </div>
    
</div>