<script src="/javascripts/mcp_class.js"></script>
<script>
  SwfController.game();
</script>

<div class="content-padded">
    <div class="sequence-container">
        <div class="button" id="green" data-sound="green.wav" data-id="1">green</div>
        <div class="button" id="red" data-sound="red.wav" data-id="2">red</div>
        <div class="button" id="yellow" data-sound="yellow.wav" data-id="3">yellow</div>
        <div class="button" id="blue" data-sound="blue.wav" data-id="4">blue</div>
    </div>
</div>